track-service.code-workspace
track-service/.env
track-service/.vscode
airplane-service/.env
airplane-service/.vscode
ticket-service/.env
ticket-service/.vscode
project/db-data/mongo
project/db-data/mysql
project/db-data/postgres-ticket
project/db-data/postgres-track
project/db-data/rabbitmq
project/db-data/esdata-ticket
authentication-service/node_modules
authentication-service/dist
authentication-service/.env
authentication-service/.vscode

